// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$dark: $black;

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default; // Bootstrap 5.3
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

$green-300: tint-color($green, 40%) !default;
$red-300: tint-color($red, 40%) !default;

$primary: #757575; // #aaaaaa; contrast increased
$secondary: #212529;
$success: #218739; // #28a745; contrast increased
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

$theme-colors: (
     "primary":           $primary, //#757575, // #ababab, -- Darkened to meet wcag guidelines
     "secondary":         $secondary, //
     "success":           $success, //  #5cb85c,
     "info":              $info, // #5bc0de,
     "warning":           $warning, // #f0ad4e,
     "danger":            $danger, //#d9534f,
     "light":             #ffffff,
     "dark":              #000000
);

// scss-docs-start theme-text-variables
$primary-text-emphasis:   shade-color($primary, 60%) !default;
$secondary-text-emphasis: shade-color($secondary, 60%) !default;
$success-text-emphasis:   shade-color($success, 60%) !default;
$info-text-emphasis:      shade-color($info, 60%) !default;
$warning-text-emphasis:   shade-color($warning, 60%) !default;
$danger-text-emphasis:    shade-color($danger, 60%) !default;
$light-text-emphasis:     $gray-700 !default;
$dark-text-emphasis:      $gray-700 !default;
// scss-docs-end theme-text-variables

// scss-docs-start theme-bg-subtle-variables
$primary-bg-subtle:       tint-color($primary, 80%) !default;
$secondary-bg-subtle:     tint-color($secondary, 80%) !default;
$success-bg-subtle:       tint-color($success, 80%) !default;
$info-bg-subtle:          tint-color($info, 80%) !default;
$warning-bg-subtle:       tint-color($warning, 80%) !default;
$danger-bg-subtle:        tint-color($danger, 80%) !default;
$light-bg-subtle:         mix($gray-100, $white) !default;
$dark-bg-subtle:          $gray-400 !default;
// scss-docs-end theme-bg-subtle-variables

// scss-docs-start theme-border-subtle-variables
$primary-border-subtle:   tint-color($primary, 60%) !default;
$secondary-border-subtle: tint-color($secondary, 60%) !default;
$success-border-subtle:   tint-color($success, 60%) !default;
$info-border-subtle:      tint-color($info, 60%) !default;
$warning-border-subtle:   tint-color($warning, 60%) !default;
$danger-border-subtle:    tint-color($danger, 60%) !default;
$light-border-subtle:     $gray-200 !default;
$dark-border-subtle:      $gray-500 !default;
// scss-docs-end theme-border-subtle-variable
$body-color: $dark;
$body-secondary-color:      rgba($body-color, .75) !default;
$body-secondary-bg:         $gray-200 !default;

$body-tertiary-color:       rgba($body-color, .5) !default;
$body-tertiary-bg:          $gray-100 !default;

$body-emphasis-color:       $black !default;



// Options
$enable-dark-mode:            true !default;
$color-mode-type:             data !default; // `data` or `media-query`
$enable-negative-margins:       true;

// Prefix for :root CSS variables
$prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`

// Gradient
// Spacing

// Body
$body-bg: #eee;

$body-secondary-color:      rgba($body-color, .75) !default;
$body-secondary-bg:         $gray-200 !default;

$body-tertiary-color:       rgba($body-color, .5) !default;
$body-tertiary-bg:          $gray-100 !default;

$body-emphasis-color:       $black !default;

// Links
$link-color: $primary;
$link-shade-percentage:                   20% !default; // Bootstrap 5.3
$link-hover-color: #999;

// Components
//$padding-base-vertical: .5rem;
//$padding-large-vertical: .9rem;

// Typography
//$font-family-sans-serif: Verdana, Geneva, Arial, Helvetica, sans-serif;
$text-muted: var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 -- #6D747E;
$blockquote-footer-color: var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 -- #6F7780;

// Tables
//$table-border-color: #dddddd;

// Buttons
$btn-primary-color: #555555;
$btn-primary-bg: #eeeeee;
$btn-primary-border: #cccccc;

$btn-secondary-color: #ffffff;
$btn-secondary-bg: $secondary;
$btn-secondary-border: darken($btn-secondary-bg, 5%);

// Forms
//$input-border: #dddddd;
// Dropdowns
$dropdown-dark-color:               $gray-300 !default;
$dropdown-dark-bg:                  $gray-800 !default;

// Navs (four below added for Bootstrap 53)
$nav-link-color:                    var(--#{$prefix}link-color) !default;
$nav-link-hover-color:              var(--#{$prefix}link-hover-color) !default;
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
$nav-link-disabled-color:           var(--#{$prefix}secondary-color) !default;

// Navbar (four below added for Bootstrap 53)
$navbar-light-color:                rgba(var(--#{$prefix}emphasis-color-rgb), .65) !default;
$navbar-light-hover-color:          rgba(var(--#{$prefix}emphasis-color-rgb), .8) !default;
$navbar-light-active-color:         rgba(var(--#{$prefix}emphasis-color-rgb), 1) !default;
$navbar-light-disabled-color:       rgba(var(--#{$prefix}emphasis-color-rgb), .3) !default;
// Navbar

//$navbar-light-color: #888888;
//$bg-light: #fafafa;
//$navbar-light-border: darken($bg-light, 6.5%);

// Navbar links
$navbar-light-color: #888888;

// Navbarlinks ??
//$navbar-dark-color: #ffffff;
//$navbar-dark-hover-color: darken(#fff, 10%);
//$navbar-dark-hover-bg: #3270bd;
//$navbar-dark-active-color: #ffffff;
//$navbar-dark-active-bg: #3270bd;
//$navbar-dark-disabled-color: #cccccc;
$navbar-dark-color:                 rgba($white, .55) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;

// Pagination
// Jumbotron
// Cards
$card-bg:                           var(--tiki-utopias-container-bg);
//$card-border-radius: $border-radius-lg;
//$card-text: #fff;//@gray-lighter;
//$card-header-bg: #386dbb;

// Tooltips
// Popovers
// Badges
// Modals
//$modal-header-border-color: #386dbb;
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
$figure-caption-color: #6D747E;

// Breadcrumbs
// Carousel
// Close
// Code
$code-color:                        $pink !default; // Bootstrap 5.3


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

$tiki-top-bg-light: #fff;
$tiki-top-light-color: $navbar-light-color;
$tiki-top-light-link-color: #000;
$tiki-top-light-link-hover-color: #000;
//
$tiki-topbar-light-bg: #fff;
$tiki-topbar-light-color: #888888;
$tiki-topbar-light-link-color: #595959;
$tiki-topbar-light-link-hover-color: #888888;
//
$tiki-top-bg-dark: #fafafa;
$tiki-top-dark-color: #333;
$tiki-top-dark-link-color: #333;
$tiki-top-dark-link-hover-color: #333;
//
$tiki-topbar-bg-dark: #fafafa;
$tiki-topbar-dark-color: #333;
$tiki-topbar-dark-link-color: #333;
$tiki-topbar-dark-link-hover-color: #333;