//Custom styles for the FiveAlive Lemon option theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
// Color system

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "black":      $black,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
) !default;
// scss-docs-end colors-map

$red-300: tint-color($red, 40%) !default;
$green-300: tint-color($green, 40%) !default;

$white:    #fff;
$black:    #000;
$light: #f9a013;
$dark: #6D5509; // arbitrary

$primary:       #F0D800; // #ffc805;
$secondary:     #ffc805; // #ffe405; //#c85a28;
$success:       #5cb85c;
$info:          #f5821e;
$warning:       #f0ad4e;
$danger:        #D63D00; //#ff5c1a;
$light:         #ffffff;
$dark:          #cb9e10;

$theme-colors: (
    "primary":           #F0D800, // #ffc805,
    "secondary":         #ffc805, //#ffe405, // #c85a28,
    "success":             #5cb85c,
    "info":               #f5821e,
    "warning":             #f0ad4e,
    "danger":           #D63D00, //   #ff5c1a,
    "light":            #ffffff,
    "dark":                #6D5509
);

$bg-light: #f9a013 !important;

// Options

// Prefix
$prefix: bs-;


$link-color: #BB5525; //#c75a28;
$link-hover-color:               darken($link-color, 15%);
$link-shade-percentage:                   20% !default;

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #fdf1d0; // Same as input-bg
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #b25025; // same as $dropdown-link-hover-bg;

// Navbars

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;

// Typography
$hr-color: #ffc506;
$text-muted:  var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 -- #6B737B;
$headings-font-weight: 700;

$navbar-fixed-top-bg: #e4af00;
$bg-dark: #ad5b28;
$bg-light: #ad5b28;

// Cards
$card-border-color: #e4af00;

// Tables
$table-border-color: #a99628;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$component-active-bg: $card-border-color; // From Grape

// Forms
$input-color: var(--#{$prefix}body-color) !default; // #555555;
$input-bg: var(--#{$prefix}body-bg) !default; // #fdf1d0;
$input-border-color: var(--#{$prefix}border-color) !default; // #fee194;
$input-border-top-color: #ceb688;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #ceb688;

// Form validation

// Dropdowns
$dropdown-bg: #c75a29;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #b25025;
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: #c75a28;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$dropdown-dark-color: #fff;
$dropdown-dark-bg: $dropdown-bg;

// Pagination
$nav-pills-link-active-bg: #B35123;
$pagination-color: #c75a28;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #f9a013;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #c75a28;
$pagination-active-border-color: #c75a28;
$pagination-disabled-color: $text-muted; // #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

$enable-gradients: true;
$enable-shadows: true;

// Code

$code-color:                        $pink !default;
// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
$bg-light-alt: #ffc506 !important;

$side-column-heading-color: #8F6D00;

$top-bg: #e4af00;
$top-color: #000;
$top-link-color: #000;
$top-link-hover-color: #5c5c5c;

$topbar-bg: #ad5b28;
$bg-dark-info: #fff;
$navbar-fixed-top-bg: #e4af00;
$page-header-link-color: #000;
$topbar-link-color: #000;

$topbar-dark-bg: #2c1c04;
$top-light-bg: transparent; // #117485;
$top-light-color: #f9f9f9;
$top-light-link-color: $top-light-color;
$topbar-light-bg: #063035;
$topbar-light-color: #f9f9f9;
//$topbar-dark-bg: #2c1c04;
$top-dark-bg: transparent; // #117485; // $top-light-bg; defining the variable with a variable didn't work.
$top-dark-color: $black;
$top-dark-link-color: $top-dark-color;
$top-dark-link-hover-color: $gray-900;
$topbar-dark-bg: #063035; // $topbar-light-bg;
$topbar-dark-color: $topbar-light-color;

$navbar-light-color: $top-light-color;
$navbar-light-link-color: $top-light-color;
$navbar-light-link-hover-color: #f2f2f2;
//$navbar-light-link-hover-bg: #003c4a;

$navbar-dark-color: $top-light-color;
$navbar-dark-link-color: $top-light-color;
$navbar-dark-link-hover-color: #f2f2f2;
//$navbar-dark-hover-color: $navbar-light-link-color;
//$navbar-light-link-hover-bg: #003c4a;

$footer_liner-card-inner-border: #ffc506;

$footer-accent-color: #ffc506;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

//$autotoc-nav-bg: #c75a29;
//$autotoc-color: #ffffff;
//$autotoc-nav-link-hover-color: #f2f2f2;
//$autotoc-nav-link-hover-bg: #b25025;


//.bg-dark {background: #2c1c04 !important; }
//$autotoc-nav-bg: #ffffff;
//$autotoc-nav-border: #ffc506;
//$autotoc-color: #c75a28;
//$autotoc-nav-li-link-hover-color: #f2f2f2;
//$autotoc-nav-li-link-hover-bg: #b25025;
$topbar-dark-bg: #2c1c04;
$postbody-title-card-title-color: #fff;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
.tiki-top-nav-light {
    --tiki-top-bg: linear-gradient(90deg, rgba(240, 219, 64, 1) 0%, rgba(211, 205, 85, 1) 97%);
    --tiki-top-color: #151414;
    --tiki-top-hover-color: lighten(#151414, 8%);
    --tiki-top-border: solid #000;
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: #f0e04f;
    --tiki-topbar-color: #151414;
    --tiki-topbar-hover-color: lighten(#151414, 8%);
}

.tiki-top-nav-dark {
    --tiki-top-bg: linear-gradient(90deg, rgba(240, 219, 64, 1) 0%, rgba(211, 205, 85, 1) 97%);
    --tiki-top-color: #151414;
    --tiki-top-hover-color: lighten(#151414, 8%);
    --tiki-top-border: solid #000;
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: #f0e04f;
    --tiki-topbar-color: #151414;
    --tiki-topbar-hover-color:  lighten(#151414, 8%);
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-top-width: 0px;
    --tiki-top-border-bottom-width: 5px;
}

header.navbar.fixed-top {
    --tiki-fixed-top-border-top-width: 0px;
    --tiki-fixed-top-border-right-width: 0px;
    --tiki-fixed-top-border-bottom-width: 5px;
    --tiki-fixed-top-border-left-width: 0px;
    --tiki-topbar-light-border-color: #000;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
//    --tiki-admin-navbar-bg: ; //
    --tiki-admin-top-nav-color: #151414;
    --tiki-admin-top-nav-color: #151414;
    --tiki-admin-top-nav-hover-color: lighten(#151414, 8%);
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: linear-gradient(90deg, rgba(240, 219, 64, 1) 0%, rgba(211, 205, 85, 1) 97%) !important;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: linear-gradient(90deg, rgba(240, 219, 64, 1) 0%, rgba(211, 205, 85, 1) 97%) !important;
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: #{$link-color};
    --tiki-admin-top-nav-hover-color: #{$link-color};
//    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: linear-gradient(90deg, rgba(240, 219, 64, 1) 0%, rgba(211, 205, 85, 1) 97%) !important;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #151414;
    --tiki-admin-dropdown-bg: #f0e04f;
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: linear-gradient(90deg, rgba(240, 219, 64, 1) 0%, rgba(211, 205, 85, 1) 97%) !important;
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //
.accordion {
    --bs-accordion-active-bg: #f1e682;
    --bs-accordion-active-color: #000;
    --bs-accordion-btn-bg: #f8f0aa;
}