//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: rgb(233, 84, 32);
    --tiki-top-color: #fff;
    --tiki-top-hover-color: rgba(255, 255, 255, 0.75);
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgb(233, 84, 32);
    --tiki-topbar-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-hover-color: rgba(255, 255, 255, 0.75);
}

.tiki-top-nav-dark {
    --tiki-top-bg: rgb(119, 41, 93);
    --tiki-top-color: rgba(255, 255, 255, 0.55);
    --tiki-top-hover-color: #fff;
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: #672250; // rgb(119, 41, 93); Darkened for visual interest
    --tiki-topbar-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-hover-color: #fff;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
//    --tiki-admin-navbar-bg: ; //
    --tiki-admin-top-nav-color: #fff;
    --tiki-admin-top-nav-color: #fff;
    --tiki-admin-top-nav-hover-color: rgba(255, 255, 255, 0.75);
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: rgb(233, 84, 32);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: rgb(233, 84, 32);
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.55);
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: rgb(119, 41, 93);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgb(119, 41, 93);
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

//.tiki-admin {
//    --tiki-admin-navbar-dark-bg: rgb(119, 41, 93);
//    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
//    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
//    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
//    --tiki-admin-navbar-light-bg: rgb(233, 84, 32);
//    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
//    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
//    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
//    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
//    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
//    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
//    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
//    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
//}
