//--------------------------- Tiki CSS variables
.navbar-nav {
    --bs-navbar-color: rgba(255, 255, 255, 0.75);
}

.tiki-top-nav-light {  // Light and Dark are same in this theme.
    --tiki-top-bg: rgb(32, 55, 76);
    --tiki-top-color: rgba(255, 255, 255, 0.75); //  #fff;
    --tiki-top-hover-color: #fff;
//    --tiki-top-bg: rgba(171, 182, 184, 1);
//    --tiki-top-color: rgba(0, 0, 0, 0.55); // rgba(0, 0, 0, 0.9);
//    --tiki-top-hover-color: rgba(0, 0, 0, 0.7);
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: #2C465E;
    --tiki-topbar-color: rgba(255, 255, 255, 0.75); // #fff;
    --tiki-topbar-hover-color: #fff;
//    --tiki-topbar-bg: rgba(171, 182, 184, 1);
//    --tiki-topbar-color: rgba(0, 0, 0, 0.55); // rgba(0, 0, 0, 0.9);
//    --tiki-topbar-hover-color: rgba(0, 0, 0, 0.7);
}

.tiki-top-nav-dark {
    --tiki-top-bg: rgb(32, 55, 76);
    --tiki-top-color: rgba(255, 255, 255, 0.75); //  #fff;
    --tiki-top-hover-color: #fff;
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: #2C465E;
    --tiki-topbar-color: rgba(255, 255, 255, 0.75); // #fff;
    --tiki-topbar-hover-color: #fff;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.55); // rgba(0, 0, 0, 0.9);
    --tiki-admin-top-nav-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: rgba(171, 182, 184, 1);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: rgba(255, 255, 255, 0.9);
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: rgba(171, 182, 184, 1);
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.75);
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-link-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: rgb(32, 55, 76);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$link-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgb(32, 55, 76);
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #2C465E;
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-bg: #2B3E50;
    --bs-accordion-btn-color: #fff;
}