// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
.tiki-top-nav-light {
    --tiki-top-bg: #F3F6F9;
    --tiki-top-color: #{$navbar-light-color};
    --tiki-top-hover-color: #{$navbar-light-hover-color};
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: #F3F6F9;
    --tiki-topbar-color: #{$navbar-light-color};
    --tiki-topbar-hover-color: #{$navbar-dark-hover-color};
}

.tiki-top-nav-dark { // Top and topbar backgrounds always light
    --tiki-top-bg: #F3F6F9;
    --tiki-top-color: #{$navbar-light-color};
    --tiki-top-hover-color: #{$navbar-light-hover-color};
//    --tiki-top-bg: #{$dark};
//    --tiki-top-color: #{$navbar-dark-color};
//    --tiki-top-hover-color: #{$navbar-dark-hover-color};
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: #F3F6F9;
    --tiki-topbar-color: #{$navbar-light-color};
    --tiki-topbar-hover-color: #{$navbar-dark-hover-color};
//    --tiki-topbar-bg: #{$dark};
//    --tiki-topbar-color: #{$navbar-dark-color};
//    --tiki-topbar-hover-color: #{$navbar-dark-hover-color};
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-top-nav-bg: #F3F6F9;
//    --tiki-admin-navbar-bg: ; //
    --tiki-admin-top-nav-color: #{$navbar-light-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #F3F6F9;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: #F3F6F9;
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-bg: #{$dark};
    --tiki-admin-top-nav-color: #{$navbar-dark-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-dark-color};
    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: #{$dark};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: #{$dark};
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

$imagePath: "../images/";

:root {
    --tiki-tikipedia-body-bg: #f6f6f6 url('#{$imagePath}page-base.png');
    --tiki-tikipedia-col1co13-bg:  #ffffff url('#{$imagePath}border.png') repeat-y;
    --tiki-tikipedia-pagetitle-color: --bs-body-color;
}

[data-bs-theme="dark"] {
    --tiki-tikipedia-body-bg: #212121;
    --tiki-tikipedia-col1co13-bg:  #212529;
    --tiki-tikipedia-pagetitle-color: --bs-body-color-dark;
    .navbar { background-image: none;}
}