//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: #EBD6F9B3;
    --tiki-top-color: rgba(52, 58, 64, 0.8);
    --tiki-top-hover-color: #343a40;
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgba(233, 233, 232, 1);
    --tiki-topbar-color: rgba(52, 58, 64, 0.8);
    --tiki-topbar-hover-color: #343a40;
}

.tiki-top-nav-dark {
    --tiki-top-bg: rgba(232, 50, 131, 1);
    --tiki-top-color: rgba(255, 255, 255, 0.8);
    --tiki-top-hover-color: #fff;
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: rgba(232, 50, 131, 1);
    --tiki-topbar-color: rgba(255, 255, 255, 0.8);
    --tiki-topbar-hover-color: #fff;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-navbar-bg: #EBD6F9B3;
    --tiki-admin-top-nav-color: rgba(52, 58, 64, 0.8); // #343a40;
    --tiki-admin-top-nav-hover-color: #343a40;
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg:  #EBD6F9B3;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg:  rgba(226, 214, 249, 0.63);
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg:  #EBD6F9B3;
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.8);
    --tiki-admin-top-nav-hover-color: rgba(255, 255, 255, 0.8);
    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: rgb(190, 42, 108);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$dropdown-color};
    --tiki-admin-dropdown-bg: #A4245DFF;
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-dark-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgba(232, 50, 131, 1);
}

.tiki-admin .dropdown-menu { background-image: none; }
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

[data-bs-theme="light"] {
    --tiki-quartz-body-bg-image: #{$body-bg-image};
}

[data-bs-theme="dark"] {
    --tiki-quartz-body-bg-image: linear-gradient(90deg, #293538, #171825, #34061a);
}

//