//--------------------------- Tiki CSS variables
// The light background is changed from the original for more color variety in Tiki's themes.
.tiki-top-nav-light {
    --tiki-top-bg: #f3969a;
    --tiki-top-color: rgba(0, 0, 0, 0.3);
    --tiki-top-hover-color: #5a5a5a;
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: #f3969a;
    --tiki-topbar-color: rgba(0, 0, 0, 0.3);
    --tiki-topbar-hover-color: #5a5a5a;
}

.tiki-top-nav-dark {
    --tiki-top-bg: rgba(120, 194, 173, 1);
    --tiki-top-color: rgba(255, 255, 255, 0.8);
    --tiki-top-hover-color: #fff;
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: rgba(120, 194, 173, 1);
    --tiki-topbar-color: rgba(255, 255, 255, 0.8);
    --tiki-topbar-hover-color: #fff;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-navbar-bg: #f3969a;
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.8);
    --tiki-admin-top-nav-hover-color: #5a5a5a;
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #f3969a;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: #f3969a;
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.9);
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: rgba(120, 194, 173, 1);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #9AE3CF;
    --tiki-admin-dropdown-bg: #4b5259;
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgba(120, 194, 173, 1);
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //


:root {
    --tiki-vert-nav-link-color: $link-color;
    --tiki-vert-nav-link-hover-color: $link-hover-color;
}

[data-bs-theme="dark"] {
    --tiki-vert-nav-link-color: rgba(var(--bs-link-color-rgb));
    --tiki-vert-nav-link-hover-color: rgba(var(--bs-link-hover-color-rgb));
}