// Variables for the Strasa theme

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #446e9b !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #cd0200 !default;
$orange:  #fd7e14 !default;
$yellow:  #d47500 !default;
$green:   #3cb521 !default;
$teal:    #20c997 !default;
$cyan:    #3399f3 !default;

$primary: #006699;
$secondary: #4416A1FF;
$success: #318A28FF;
$info: #4d3a7d;
$warning: #debb27;
$danger: #df6e1e;

$theme-colors: (
    "primary":            #006699,
    "secondary":         #7400c3,
    "success":           #48ca3b, //#5cb85c,
    "info":              #4d3a7d, // #5bc0de,
    "warning":           #debb27, //  #f0ad4e,
    "danger":            #df6e1e, //  #d9534f,
    "light":              #ffffff,
    "dark":              #000000
);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

$green-300: tint-color($green, 40%) !default;
$red-300: tint-color($red, 40%) !default;


// Options
// Prefix for :root CSS variables

$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;
// Spacing

// Body
$body-bg: #fff; // #214d68;
$body-color: $gray-800;

// Links
$link-color:                              $primary !default;
$link-decoration:                         underline !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration: none;

// Components
//$padding-base-vertical: .5rem;
//$padding-large-vertical: .9rem;

// Fonts
$font-family-sans-serif: Verdana, Geneva, Arial, Helvetica, sans-serif;


// Tables
//$table-border-color: #dddddd;

// Buttons
$btn-primary-color: #ffffff;
$btn-primary-bg: #1d9ccf;
$btn-primary-border: #223845;

//$btn-secondary-color: #ffffff;
//$btn-secondary-bg: $secondary;
//$btn-secondary-border: darken($btn-secondary-bg, 5%);

// Forms
$input-bg: var(--#{$prefix}body-bg) !default; // #f3fcfe;
$input-color:                           var(--#{$prefix}body-color) !default; // #000000;
$input-border: #4d7b9b;

// Dropdowns
// Navs
$nav-link-color:                    var(--#{$prefix}link-color) !default;
$nav-link-hover-color:              var(--#{$prefix}link-hover-color) !default;

  // Navbar
$navbar-light-color:                rgba(var(--#{$prefix}emphasis-color-rgb), .65) !default;
$navbar-light-hover-color:          rgba(var(--#{$prefix}emphasis-color-rgb), .8) !default;
$navbar-light-active-color:         rgba(var(--#{$prefix}emphasis-color-rgb), 1) !default;
$navbar-light-disabled-color:       rgba(var(--#{$prefix}emphasis-color-rgb), .3) !default;
//$navbar-dark-color: #ffffff;
//$navbar-dark-bg: #1f5daa;
//$navbar-dark-border: darken($navbar-dark-bg, 6.5%);

$navbar-dark-color:                 rgba($white, .55) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
//$navbar-dark-hover-color: darken(#fff, 10%);
//$navbar-dark-hover-bg: #3270bd;
//$navbar-dark-active-color: #ffffff;
//$navbar-dark-active-bg: #3270bd;
//$navbar-dark-disabled-color: #cccccc;

//$navbar-light-color: $primary;
//$navbar-light-hover-color: $navbar-dark-hover-color;

// Pagination
// Jumbotron
// Cards
//$card-border-radius: $border-radius-lg;
//$card-text: #fff;//@gray-lighter;
//$card-header-bg: #386dbb;

// Accordion
$accordion-color: #{$body-color};
$accordion-bg: #fff;

// Tooltips
// Popovers
// Badges
// Modals
$modal-md: 600px;
//$modal-header-border-color: #386dbb;
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code
$code-color:                        $pink !default; // Bootstrap 5.3

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// CKEditor colors
$tiki-editor-bg: #fff;
$tiki-editor-text-color: $body-color;
$tiki-module-h3-card-title-font-size: 1.25rem;
$tiki-pvtUI-bg: #fff;
