//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: rgb(255, 255, 255);
    --tiki-top-color: rgba(0, 0, 0, 0.55);
    --tiki-top-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-top-border: solid #333;
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgb(255, 255, 255);
    --tiki-topbar-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-topbar-border: solid #333;
}

.tiki-top-nav-dark {
    --tiki-top-bg: rgb(85, 85, 85);
    --tiki-top-color: #fff;
    --tiki-top-hover-color: #fff;
    --tiki-top-border: solid rgb(85, 85, 85);
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: rgb(85, 85, 85);
    --tiki-topbar-color: #fff;
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-border: solid rgb(85, 85, 85);
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-width: 2px;
    --tiki-topbar-border-width: 2px;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.55);  // rgba(0, 0, 0, 0.9);
    --tiki-admin-top-nav-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #F0F0F0;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #e6e6e6;
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #fff;
    --tiki-admin-dropdown-link-hover-bg: #007BFF;
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: #F0F0F0;
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: #fff;
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-hover-bg: #fff;
    --tiki-admin-aside-nav-bg: #2C2C2C;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$dropdown-dark-color};
    --tiki-admin-dropdown-bg: #1C1C1C;
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #007BFF;
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: #2C2C2C;
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

//.tiki-admin {
//    --tiki-admin-navbar-dark-bg: #2C2C2C;
//    --tiki-admin-dropdown-dark-color: #{$dropdown-dark-color};
//    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
//    --tiki-admin-dropdown-dark-bg: #1C1C1C;
//    --tiki-admin-navbar-light-bg: #F0F0F0;
//    --tiki-admin-dropdown-light-bg: #e6e6e6;
//    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
//    --tiki-admin-toggle-light-bg: #dbdbdb;
//    --tiki-admin-navbar-dark-highlight-bg: #007BFF;
//    --tiki-admin-navbar-dark-highlight-color: #fff;
//    --tiki-admin-navbar-light-highlight-bg: #007BFF;
//    --tiki-admin-navbar-light-highlight-color: #fff;
//}
