// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
// scss-docs-start gray-color-variables
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
);
// scss-docs-end gray-colors-map

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default; // Bootstrap 5.3
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "black":      $black,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
) !default;
// scss-docs-end colors-map

$red-300: tint-color($red, 40%) !default;
$green-300: tint-color($green, 40%) !default;

// scss-docs-start theme-color-variables
$primary:       #0001a6;
$secondary:     #adb5bd;
$success:       #56C07B;
$info:          #39A0CB;
$warning:       #F0AD4E;
$danger:        #D9534F;
$light:         $gray-100;
$dark:          $gray-900;
$white: #fff;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);
// scss-docs-end theme-colors-map



// Options
//Prefix for :root CSS variables
$prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$enable-gradients: true;

// Spacing

// Body
$body-color: #222;
$body-bg:                   $white !default;

// Links
$link-color:                              $primary !default;
$link-hover-decoration: none;
$link-shade-percentage:                   20% !default; // Bootstrap 5.3

// Components
$component-active-bg: #aaaaaa;

// Fonts
$font-family-sans-serif: "Verdana", "Arial", sans-serif;
$font-size-base: .9rem;
$popover-font-size: $font-size-base * .875;

$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
$font-size-h1: floor(($font-size-base * 1.8)); // ~36px
$font-size-h2: floor(($font-size-base * 1.7)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.5)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.3)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px
$headings-font-weight: 700;

// Tables
// Buttons
// Forms
// Dropdowns
$dropdown-color:                    var(--#{$prefix}body-color) !default;
$dropdown-bg:                       var(--#{$prefix}body-bg) !default;
$dropdown-border-color:             var(--#{$prefix}border-color-translucent) !default;

$dropdown-link-color:               var(--#{$prefix}body-color) !default; // $gray-900 !default;
$dropdown-link-hover-color:         var(--#{$prefix}body-color); // shade-color($dropdown-link-color, 10%) !default;
$dropdown-link-hover-bg:            $gray-200 !default;

$dropdown-dark-color:               $gray-300 !default;
$dropdown-dark-bg:                  $gray-800 !default;

$dropdown-dark-link-color:          $dropdown-dark-color !default;
$dropdown-dark-link-hover-color:    $white !default;
$dropdown-dark-link-hover-bg:       rgba($white, .15) !default;
// Navs
// Navs (four below added for Bootstrap 53)
$nav-link-color:                    var(--#{$prefix}link-color) !default;
$nav-link-hover-color:              var(--#{$prefix}link-hover-color) !default;
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
$nav-link-disabled-color:           var(--#{$prefix}secondary-color) !default;

// Navbar// Navbar (8 below added for Bootstrap 53)
$navbar-light-color:                rgba(var(--#{$prefix}emphasis-color-rgb), .65) !default;
$navbar-light-hover-color:          rgba(var(--#{$prefix}emphasis-color-rgb), .8) !default;
$navbar-light-active-color:         rgba(var(--#{$prefix}emphasis-color-rgb), 1) !default;
$navbar-light-disabled-color:       rgba(var(--#{$prefix}emphasis-color-rgb), .3) !default;

$navbar-dark-color:                 rgba($white, .55) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-light-border: #aaaaaa;

// Navbarlinks ??
$navbar-light-color: $primary;
$navbar-light-hover-color: lighten($primary, 8%);
$navbar-dark-color: $primary;
$navbar-dark-hover-color: lighten($primary, 8%);

// Pagination
$pagination-active-bg: #aaaaaa;
$pagination-active-border: darken(#aaa, 10%);

// Jumbotron
// Cards
$card-border-color: #999999;

// Tooltips
// Popovers
// Badges
// Badges

// scss-docs-start badge-variables
$badge-font-size:                   .75em;
//$badge-font-weight:                 $font-weight-bold;
$badge-color:                       $black;
$badge-padding-y:                   .35em;
$badge-padding-x:                   .65em;
//$badge-border-radius:               $border-radius;
// scss-docs-end badge-variables

// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close

// Code
$code-color: $pink;
$code-bg: #eee;



// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //