/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/*! Original theme information:
 * bootswatch v5.1.3
 * Homepage: http://bootswatch.com
 * Copyright 2012-2022 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/

//@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/cyborg/variables"; // Needs to come first, to override defaults.
//@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../base_files/scss/_tiki-bootstrap_functions";

@import "variables";
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/cyborg/bootswatch";
@import "css-variables"; // Needs to be loaded after default variables to override them
@import "../../base_files/scss/_tiki-selectors.scss";

@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // Import if needed to specify top and topbar zone colors in more detail
@import "../../base_files/scss/_external-scripts.scss";
@import "../../base_files/scss/_select2-tiki_colors.scss";

// Increase navbar height to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

// Update for Smartmenus (still needed w/bs5?)
//$dropdown-item: $dropdown-link-color;

// Added for Tiki (not sure why the variable isn't working)
.accordion-button:not(.collapsed) { background: #222; }

