/* Spacelab theme newsletter stylesheet */
:root {
  --tiki-fixed-top-site-title-font-size: 1.8rem;
  --tiki-fixed-top-site-title-font-weight: 700;
  --tiki-fixed-top-site-subtitle-font-size: 1.4rem;
  --tiki-fixed-top-site-subtitle-font-weight: 400;
  --tiki-site-title-font-size: 2rem;
  --tiki-site-title-font-weight: 700;
  --tiki-site-subtitle-font-size: 1.5rem;
  --tiki-site-subtitle-font-weight: 400;
  --tiki-top-border-width: 0;
  --tiki-static-top-light-border: none;
}
header.navbar.fixed-top {
  --tiki-fixed-top-border-top-width: 0px;
  --tiki-fixed-top-border-right-width: 0px;
  --tiki-fixed-top-border-bottom-width: 0px;
  --tiki-fixed-top-border-left-width: 0px;
}
:root {
  --tiki-tooltip-link-color: #88b6fc;
  --tiki-tooltip-link-hover-color: $tooltip-color;
}
body {
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-family: var(--bs-font-sans-serif);
  padding: 15px;
}
a, a:visited {
  color: var(--bs-link-color);
}
a:hover {
  color: var(--bs-link-hover-color);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
  color: inherit;
}
.card {
  margin-bottom: 1.5;
  background-color: var(--bs-body-bg);
  border: 1px solid transparent;
  border-radius: var(--bs-border-radius);
}
.card-header {
  border-bottom: 1px solid transparent;
}
.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  color: inherit;
}
.card-title > a, .card-title > small, .card-title > .small, .card-title > small > a, .card-title > .small > a {
  color: inherit;
}

