// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.

// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: rgba(26, 26, 26, 1);
    --tiki-top-color: rgba(255, 255, 255, 0.55);
    --tiki-top-hover-color: #fff;
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: rgba(26, 26, 26, 1);
    --tiki-topbar-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-hover-color: #fff;
}

@mixin top-nav-light {
    --tiki-top-bg: rgba(255, 255, 255, 1);
    --tiki-top-color: rgba(0, 0, 0, 0.3);
    --tiki-top-hover-color: #1a1a1a;
    --tiki-top-border: 1px solid rgba(0, 0, 0, 0.1);
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: rgba(255, 255, 255, 1);
    --tiki-topbar-color: rgba(0, 0, 0, 0.3);
    --tiki-topbar-hover-color: #1a1a1a;
    --tiki-topbar-border: 1px solid rgba(0, 0, 0, 0.1);
}

.tiki-top-nav-light {
    @include top-nav-light;
}
.tiki-topbar-nav-light {
    @include topbar-nav-light;
}
.tiki-top-nav-dark {
    @include top-nav-dark;
}
.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}
//// Color mode preference trumps L&F admin dark navbar option - Let L&F prevail in this case
//[data-bs-theme=light] {                              // color mode
//    .tiki-top-nav-dark {                           // dark top selector
//        @include top-nav-light;                      // light values
//    }
//    .tiki-topbar-nav-dark {
//        @include topbar-nav-light;
//    }
//}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-navbar-bg: rgba(255, 255, 255, 1);
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.76);
    --tiki-admin-top-nav-hover-color: #1a1a1a;
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: rgba(255, 255, 255, 1);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: rgba(0, 0, 0, 0.76);
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: rgba(255, 255, 255, 1);
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.55);
    --tiki-admin-top-nav-hover-color: rgba(0, 0, 0, 0.3);
//    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: rgba(26, 26, 26, 1);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgba(26, 26, 26, 1);
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //
