// - - - - - - - - - - - - - - - - - CSS variables, if any - - - - -

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
.tiki-top-nav-light {
    --tiki-top-bg: url('#{$imagePath}header_background_ltr.jpg') 0/100% auto no-repeat;
    --tiki-top-color: #{$navbar-light-color};
    --tiki-top-hover-color: #{$navbar-light-hover-color};
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: white; // #473119 url('#{$imagePath}menubar-wood.jpg') 0/100% auto no-repeat;
    --tiki-topbar-color: #{$navbar-light-color};
    --tiki-topbar-hover-color: #{$navbar-dark-hover-color};
}

.tiki-top-nav-dark {
    --tiki-top-bg:  url('#{$imagePath}header_background_ltr.jpg') 0/100% auto no-repeat;
    --tiki-top-color: #{$navbar-dark-color};
    --tiki-top-hover-color: #{$navbar-dark-hover-color};
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: #473119 url('#{$imagePath}menubar-wood.jpg') 50% 50% no-repeat; //var(--tiki-topbar-light-bg);
    --tiki-topbar-color: #{$navbar-dark-color};
    --tiki-topbar-hover-color: #{$navbar-dark-hover-color};
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-navbar-bg: white !important;
    --tiki-admin-top-nav-color: #{$navbar-light-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: white;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: white;
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: #{$navbar-dark-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-dark-hover-color};
//    --tiki-admin-top-nav-hover-bg:  #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: #473119 url('#{$imagePath}menubar-wood.jpg') 50% 50% no-repeat !important;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$navbar-dark-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent,
.tiki-top-nav-dark {
    --tiki-admin-top-nav-bg: #473119 url('#{$imagePath}menubar-wood.jpg') 50% 50% repeat-x !important;
    --tiki-top-bg:  #473119 url('#{$imagePath}menubar-wood.jpg') 50% 50% repeat-x !important;

}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #6F285E;
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-bg: #A32872;
    --bs-accordion-btn-color: #fff;
}


$imagePath: "../images/";

[data-bs-theme="light"] {
    --tiki-greenvalley-row-middle-bg-color: #fff; // url('#{$imagePath}page_background_ltr.jpg') repeat;
    --tiki-greenvalley-row-middle-bg-img-opacity: 1;
}

[data-bs-theme="dark"] {
    --tiki-greenvalley-row-middle-bg-color: #052101; // url('#{$imagePath}page_background_ltr.jpg') repeat;
    --tiki-greenvalley-row-middle-bg-img-opacity: 0.075;
    --tiki-card-bg: transparent;
}