// This file is for additional SCSS rules beyond what are in variables.scss.
$imagePath: "../images/";

$tiki-topmodules-row-sidemargins: 0;
$tiki-topbar-row-sidemargins: -15px;

//.header_outer {
//    margin-top: 24px;
//}

body.fullscreen {
    .header_outer,
    #footer {
        display: none;
    }
}

// add media query for medium and large displays
header.fixed-top {
//    min-height: 175px;
//    background: url('#{$imagePath}header_background_ltr.jpg') 50% 0 no-repeat;
//    background-size: cover !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.top_modules .nav-link {
    font-weight: 700;
    color: #ffffff;
    text-shadow: #666 0 2px 3px;
}

.siteloginbar_popup > .btn {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.topbar {
    margin-bottom: 20px;
}

//.topbar,
//.navbar-dark,
//.navbar-fixed-top,
.accordion-button:not(.collapsed) {        // Accordion active button
    background: #473119 url('#{$imagePath}menubar-wood.jpg') 50% 50% no-repeat !important;
    background-size: cover;
    box-shadow: inset 0 -3px 10px #331a00;
    border: none;
    border-radius: 0;
}

body:not(.tiki-admin) .row-middle::before {
    content: "";
    background: url('#{$imagePath}page_background_ltr.jpg') repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: var(--tiki-greenvalley-row-middle-bg-img-opacity);
}

.row-middle {
    position: relative;
    background: var(--tiki-greenvalley-row-middle-bg-color); // #fff url('#{$imagePath}page_background_ltr.jpg') repeat;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

//.layout_fixed_top_modules #middle {
//    background: url('#{$imagePath}page_background_ltr.jpg') repeat;
//    padding-bottom: 20px;
//}

#page-data {
    text-shadow: 1px 1px 0 rgb(255, 255, 255);
}

.card-primary > .card-heading {
    min-height: 52px;
    padding-top: 12px;
    background: #02913d url('#{$imagePath}box_header_bg.png') repeat-x 55% 100%;
    text-align: center;
    border: 1px solid #8bc541;
}

.card-title {
//    font-size: 1.2em;
//    font-weight: 700;
    color: #222;
//    text-shadow: #666 0 2px 3px;
}

//.btn:not(.btn-link) {
//    box-shadow: 2px 2px 3px 1px rgba(43, 43, 43, 0.65);
//}

.btn-primary, input[type="reset"], input[type="submit"],
.accordion-button.collapsed {
    background: url('#{$imagePath}button_bck.jpg') 100% 50% repeat;
    //  border: solid 1px rgba(84, 60, 27, 0.64);
 //   -webkit-box-shadow: 2px 2px 3px 1px rgba(43, 43, 43, 0.65);
//    box-shadow: 2px 2px 3px 1px rgba(43, 43, 43, 0.65);
    text-shadow: #21201e 0 1px 1px;
    padding: 0.275rem 0.4rem !important;
}

.btn-primary:not(.btn-link) {
    color: #fff;
    text-shadow: #232121 0 2px 3px;
}

.btn-primary:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    color: #a99278;
    background: url('#{$imagePath}button_bck_hover.jpg') 100% 50% repeat;
//    -webkit-box-shadow: 1px 1px 2px 1px rgba(84, 60, 27, 0.64);
//    box-shadow: 1px 1px 2px 1px rgba(84, 60, 27, 0.64);
    text-shadow: #2b2b2b 0 1px 1px;
}

.btn-secondary {
    color: #fff;
}

#footer .row.mx-0 {
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 15px
}

footer.footer {
    margin-bottom: 20px;
}

.footer .modules {
    background: url('#{$imagePath}footer_bck.jpg');
    background-size: contain;
    color: #e0d6cc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 20px;
    h3 {
        a,
        a:visited {
            color: #b29980;
        }
        &:hover {
            color: #c48054;
        }
    }
}

.articletitle .titleb {
    color: #996633;
    font-size: 0.9em;
}

// /* Autosave Preview handle */
#autosave_preview {
    background: url('#{$imagePath}page_background_ltr.jpg') repeat;
    color: $body-color;
}

.postbody-title .title > .card-title a.link,
.card-primary > .card-heading .blog-postbody-title,
.card-primary > .card-heading a {
    color: #ffffff;
}