// This file is for additional SCSS rules beyond what are in _bootstrap-variables.scss.
// Image path example:
$imagePath: "../images/";

// Color system
// Options
// Gradient
// Spacing
// Position
// Body
body,
body.fullscreen,
.layout_social header.navbar.navbar-dark.bg-dark,
.layout_social header.navbar.navbar-light.bg-light {
    background: #90140c url('#{$imagePath}stripes.png') repeat-x 50% 0 !important;
}

.layout_classic #middle,
.layout_basic .row-middle,
.layout_social .middle.container,
.tiki-admin .row-middle {
    background: #f3f3f3;
    border: solid 15px #600;
    border-top: none;
}

.top_modules {
    justify-content: center !important;
}

#bottom_modules {
    background: #000000;
    border: solid #600;
    border-width: 0 15px;
}

// Utilities maps
// Links
// Paragraphs
// Grid breakpoints
// Grid containers
// Grid columns
// Container padding
// Components
// Typography
blockquote,
.blockquote {
    color: #525252;
}

// Tables
.table .table {
    background: #f3f3f3;
}

//.tablesorter-header {
//    color: #e5e5e5;
//}

// Buttons + Forms
// Buttons
.btn-primary,
.accordion-button {
    background: #ffd19f;
    background: linear-gradient(to bottom, #ffd19f 0%, #fea841 3%, #fca73a 5%, #fda541 8%, #ffa340 10%, #f8a441 13%, #ffa439 15%, #fba23e 18%, #fea23f 21%, #fc9338 46%, #fe9039 54%, #fc8c36 59%, #fd7931 100%);
}

.btn-primary:hover,
.accordion-button:hover {
    background: #fd7931;
    background: linear-gradient(to top, #ffd19f 0%, #fea841 3%, #fca73a 5%, #fda541 8%, #ffa340 10%, #f8a441 13%, #ffa439 15%, #fba23e 18%, #fea23f 21%, #fc9338 46%, #fe9039 54%, #fc8c36 59%, #fd7931 100%);
}

.btn-danger {
    background: #e89593;
    background: linear-gradient(to bottom, #e89593 0%, #d33834 100%);
    border: 1px solid #d30d06;
}

.btn-danger:hover {
    background: #d33834;
    background: linear-gradient(to bottom, #d33834 0%, #e89593 100%);
}

.btn-info {
    background: #0089f0;
    background: linear-gradient(to top, #0089f0 0%, #5cc0de 100%);
    border: 1px solid #13ceea;
}

.btn-info:hover {
    background: #5cc0de;
    background: linear-gradient(to bottom, #5cc0de 0%, #97d7ea 100%);
}

.btn-secondary,
.btn-primary.btn-files,
.nav-tabs .nav-link,
.tiki .ui-state-default, .tiki .ui-widget-content .ui-state-default, .tiki .ui-widget-header .ui-state-default, .tiki .ui-button, .tiki html .ui-button.ui-state-disabled:hover, .tiki html .ui-button.ui-state-disabled:active {
    background: #CA4B02; // #fed09e;
    background: linear-gradient(to top, #CA4B02 0%, #feb768 100%);
    border: 1px solid #fe8d0c;
}

.btn-secondary:hover,
.btn-primary.btn-files,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
    background: #feb768;
    background: linear-gradient(to bottom, #feb768 0%, #fed09e 100%);
}

.btn-success {
    background: #24a238;
    background: linear-gradient(to top, #24a238 0%, #5db85d 100%);
    border: 1px solid #08b81c;
}

.btn-success:hover {
    background: #5db85d;
    background: linear-gradient(to bottom, #5db85d 0%, #8dcd8d 100%);
}

.btn-warning {
    background: #fdfd80;
    background: linear-gradient(to bottom, #fdfd80 0%, #ffff2d 100%);
    border: 1px solid #d0d024;
}

.btn-warning:hover {
    background: #ffff2b;
    background: linear-gradient(to bottom, #ffff2b 0%, #fdfd7e 100%);
}

.btn-primary,
    //.btn-secondary,
//.btn-danger,
    //.btn-info,
    //.btn-success,
.btn-warning,
.accordion-button {
    color: #000;
    text-shadow: #fff 1px 1px 1px;

    &:hover {
        text-shadow: none;
    }
}

.btn-secondary,
.btn-info,
.btn-success {
    text-shadow: #000 -1px -1px 1px;

    &:hover {
        text-shadow: none;
    }
}


// Forms
// Form validation
// Z-index master list
// Navs
// Navbar
// Fixed-top colors
//.navbar.bg-light.fixed-top, // layout_default -- commmented on by g_c-l aug 2022 because it uses values instead of variables
//.navbar.bg-dark.fixed-top {
//    background: #0c0c0d;
//    background: linear-gradient(to bottom, #0c0c0d 0%, #000000 3%, #000000 5%, #050505 8%, #070707 13%, #121212 55%, #000000 58%, #000000 100%);
//
//    .navbar-brand,
//    .nav-link,
//    button.dropdown-toggle {
   //     color: #fff;
 //   }
//}

.navbar.bg-light.fixed-top > li:hover,
.navbar.bg-dark.fixed-top > li:hover,
.navbar.bg-light.fixed-top > li:active,
.navbar.bg-dark.fixed-top > li:active,
.navbar.bg-dark.fixed-top .nav-link:hover,
.navbar.bg-light.fixed-top .nav-link:active,
.fixed-top .navbar-light .navbar-brand,
.navbar.bg-light.fixed-top .nav-link:hover,
.navbar.bg-light.fixed-top .nav-link:active,
.navbar.bg-light.fixed-top button.dropdown-toggle:hover,
.navbar.bg-light.fixed-top button.dropdown-toggle:active {
    color: #fff;
    text-decoration: none;
    background: #555;
    background: linear-gradient(to bottom, #555555 0%, #4f4f4f 5%, #4c4b4b 13%, #3d3d3d 55%, #2e2e2e 58%, #121212 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#121212', GradientType=0);
}

.top_modules.bg-light,
.top_modules.bg-dark {
    background: transparent !important;
}

// This is the original CSS but of course doesn't all work in layout_social. To avoid breakage, properties should probably be defined per-site.
//.sitetitle:not(.adminoptionbox) {
//    background: url('#{$imagePath}title_background.jpg') no-repeat transparent;
//    color: #FE9B27;
//    cursor: default;
//    text-transform: uppercase;
//    font: 2.5em/1.8em "Trebuchet MS", "Georgia", "Lucidia Grande";
//    height: 101px;
//    letter-spacing: 8px;
//    margin-top: 66px;
//    text-align: center;
 //   //  width: 410px;
//}
//
//.sitetitle:not(.adminoptionbox),
//.sitetitle a,
//.sitesubtitle:not(.adminoptionbox) {
//    color: #fe9b27;
//}

//h2.sitesubtitle {
//    font-size: 20px;
//    margin-top: 0;
//}

.top_modules div:not(.card) .btn-link,
#fullscreenbutton a,
.layout_basic .top_modules .navbar-brand,
.layout_basic .top_modules .nav-link,
.layout_basic .top_modules button.dropdown-toggle {
    color: #FEA239; // #fe9b27; Lightened for WCAG contrast compliance
}
.tiki.layout_classic .topbar,
.tiki.layout_basic .topbar,
.tiki.layout_social .topbar {
    padding-left: 0;
    padding-right: 0;
}

.tiki.layout_classic .topbar_modules,
.tiki.layout_basic .topbar_modules,
.tiki.layout_social .topbar_modules {
    background: #000 url('#{$imagePath}stripes_small.gif') repeat-x /*0 -8px*/ !important;
    border: solid 15px #600000 !important;
    border-bottom: 1px solid #916047 !important;
    .navbar-nav .nav-item {
        color: #000 !important;
        &:hover,
        &:focus,
        &.active {
            color: lighten(#000,10%) !important;
        }
    }

    .navbar-nav > .nav-item:nth-child(1n) {
        background: url('#{$imagePath}blue.png') no-repeat;
    }

    .navbar-nav > .nav-item:nth-child(2n) {
        background: url('#{$imagePath}red.png') no-repeat;
    }

    .navbar-nav > .nav-item:nth-child(3n) {
        background: url('#{$imagePath}orange.png') no-repeat;
    }

    .navbar-nav > .nav-item:nth-child(4n) {
        background: url('#{$imagePath}green.png') no-repeat;
    }

    .form-control {
        height: calc(2rem + 2px);
    }

    button.search_mod_magnifier {
        font-size: .8rem;
    }
}

.tiki.layout_basic .topbar_modules {
    border-left: none !important;
    border-right: none !important;
}


.tiki.layout_classic .topbar_modules,
.layout_basic  #topbar.topbar_modules.bg-dark .module.box-menu a.nav-link,
.layout_social .topbar-wrapper.navbar-dark-parent.bg-dark-parent #topbar .module.box-menu a.nav-link {
    color: #000 !important;
    &:hover,
    &:focus,
    &.active {
        color: lighten(#000,10%) !important;
    }
}

#top_modules .navbar,
#topbar_modules .navbar {
    margin-bottom: 0;
}

.layout_basic .topbar {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.layout_social .middle .topbar {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.brown_gradient_background {
    background: #ca807c;
    background: linear-gradient(to bottom, #ca807c 0%, #a2241c 1%, #9a241c 24%, #79201b 78%, #71201b 99%, #3e1b19 100%);
}

//orange_gradient_background
#pagetop_modules,
.orange_gradient_background {
    background: #fec782;
    background: linear-gradient(to bottom, #fec782 0%, #fe9e27 0%, #fe9226 31%, #fe7723 75%, #fe6e22 100%, #783c1c 100%);
    padding: 15px;

    .card {
        border: 3px solid #fff;
        border-radius: 0px;
        margin: 15px;
    }
}

#pagetop_modules {
    margin-left: -15px;
    margin-right: -15px;
}

// Dropdowns
// Pagination
// Placeholders
// Cards
.card-title {
    color: #8A0700;
    font: 1.8rem arial, verdana, helvetica, sans-serif;
}

.bg-danger,
.bg-warning,
.bg-primary,
.bg-secondary,
.bg-success,
.bg-info {
    .card-title {
        color: #fff;
    }
}

#col2 .card,
#col3 .card,
#col2 .card-header,
#col3 .card-header {
    border: none;
    background: transparent;
}

.main-footer {
    .footer_liner.w-100 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .card {
        border: none;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .card-header {
        background: transparent;
        border-color: transparent;
    }
}
.footer_liner.w-100 {
    padding: 0 !important;
}
// Accordion
.accordion-button {
    color: #000;
}

// Popovers
.popover-body .table .table,
.popover-body .table-hover {
    background: #ffffff;
}

// Toasts
// Badges
// Modals
// Alerts
.alert-light {
    color: #57575C;
}

// Progress bars
.progress-bar {
    .bg-info,
    .bg-warning {
        color: #fff;
    }
}

// List group
.list-group-item-light {
    color: #707275;
}

// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Spinners
// Close
// Offcanvas
// Code


.main-footer,
footer.footer {
    color: lighten(#9d9d9d, 15%);

    a {
        color: #9d9d9d;

        &:hover,
        &:focus {
            color: lighten(#9d9d9d, 15%);
        }
    }

    h1, h2, h3, h4, h5 {
        color: #9D9D1B;
    }
}

// /* Autosave Preview handle */
#autosave_preview {
    background: #f3f3f3;
    color: $body-color;
}

// Other

// override for converseJS chatbox background colors
.tiki #conversejs, .tiki #conversejs.converse-embedded {
    #controlbox {
        .box-flyout {
            background-color: #f3f3f3;
        }
    }

    .chatbox {
        .box-flyout {
            background-color: #f3f3f3;
        }
    }
}

// override for some cypht background colors
body.tiki.tiki-webmail {
    background: #90140c url('#{$imagePath}stripes.png') repeat-x 50% 0;
}

