// This file is for additional LESS rules beyond what are in variables.scss.
// Image path example:
$imagePath: "../images/";
// body {
//    background-image: url('#{$imagePath}bg.jpg');
// }

.dropdown-item.btn-link.text-danger {
    background: lighten($danger, 40%) !important; //lighten($danger, 70%);
    border-radius: 0 !important;

    &:hover {
        background: lighten($danger, 30%) !important;
    }
}

//.dropdown-item.text-danger {
//  color: #fec0bd !important;
//}

html {
    background-color: #414141;
}

//.middle_outer {
//    -webkit-box-shadow: inset 0 54px 0 0 #043b5a;
//    -moz-box-shadow: inset 0 54px 0 0 #043b5a;
//    box-shadow: inset 0 54px 0 0 #043b5a;
//}

.header_outer,
.layout_basic .top_modules {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#136d9f+0,28a7de+100 */
    background: #136d9f; /* Old browsers */
    background: -moz-linear-gradient(left, #136d9f 0%, #28a7de 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #136d9f 0%, #28a7de 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #136d9f 0%, #28a7de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#136d9f', endColorstr='#28a7de', GradientType=1); /* IE6-9 */

    color: #000000;

    .siteloginbar_popup > .btn-link {
        color: #f8f8f8;
    }
}

#fullscreenbutton a {
    color: #000000;
}

//.sitelogo img {max-height: 34px; width: auto; margin-bottom: 1em;}

.form-control,
select,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="file"],
input[type="search"],
input[type="number"],
input#login-pass,
textarea,
.adminoptionbox option {
    background-color: $form-control-background; //#f8f9d4;
    border-color: $form-control-border-colors; // #F5FB86 #FBFBEE #FBFBEE #F5FB86;
}

.navbar-collapse {
    border: none;
}

.layout_classic .top_modules.bg-dark-parent {
    background: transparent;
}

// prevent gradient on gradient or on middle box-shadow
//.page-header,
.layout_classic #topbar_modules .module {
    .navbar.bg-dark,
    .navbar.bg-light {
        background: transparent !important;
    }
}

.layout_classic {
    .top_modules.bg-dark,
    .topbar_modules,
    .topbar.bg-dark {
        background: transparent !important;
    }
}

//#topbar {
//    min-height: 54px;
//    margin-bottom: 20px;
//    //  padding-top: 8px;
//}

.topbar form {
    .form-control,
    .btn {
        margin-top: 0.5rem;
    }
}
.layout_classic #topbar_modules .module .navbar.bg-dark, .layout_classic #topbar_modules .module .navbar.bg-light {
    margin-top: 5px;
}

#topbar.affix {
    width: 100%;
    left: 0;
}

#topbar.row.affix {
    margin-left: 0;
    margin-right: 0;
}

#topbar.affix {
    position: fixed;
    top: 0;
    z-index: 10;
    -webkit-transition: all 0.6s ease-in-out;
}

//.navbar-static-top {
//  z-index: 999;
//}

.topbar .navbar-nav > li > a {
    text-transform: uppercase;
    font-weight: bold;
}

.nav-justified .navbar-nav {
    width: 100%;
}


.page-header {
    h1,
    h2,
    h3 a,
    a,
    a:hover {
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }

    h3 {
        border-radius: 3px;
        font-size: 34px;
        padding: 12px 10px 6px 10px;
    }
}

.dropdown-menu {
    text-transform: none;
}

.dropdown-menu {
    background-color: $dropdown-bg; //#005064;
    border: 1px solid $dropdown-border-color; // rgba(0, 0, 0, 0.15);
}

.dropdown-item a,
.dropdown-item .btn.btn-link {
    color: $dropdown-link-color;

    &:hover,
    &:focus {
        color: $dropdown-link-hover-color;
    }

    &:active,
    &.active {
        color: $dropdown-link-active-color;
    }

    &.disabled,
    &:disabled {
        color: $dropdown-link-disabled-color;
    }

    .dropdown-header {
        color: $dropdown-header-color;
    }

    .dropdown-divider {
        background: $dropdown-divider-bg;
    }
}


h1 {
    font-size: 50px;
}


.col2,
.col3 {
    .card,
    .card-header,
    .card-footer {
        background: none;
        background-color: transparent;
        border: none;
    }
}


.blog-postbody-title .card-title {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .page-header {
        height: auto;
    }
}

//section { Commented out by g_c-l aug 2022 because it seems too broad - why would all section instances need this?
//  color: #ffffff;
//  min-height: 400px;
//  height: auto !important;
//  height: 100%;
//  padding-top: 100px;
//}

// Page footer
.main-footer {
    min-height: 60px;
    margin-top: 50px;
    background: #414141;
    color: #ffffff;
}

#footer {
    background: #000000;
    color: $footer-color; // #696969;
    padding: 1px 0 2px 0;
}

.footer {
    border-top: 1px solid $footer-border-color; //#ebdc14;
    border-bottom: 1px solid $footer-border-color; // #ebdc14;
}

.footer_liner {
    .card,
    .card-header,
    .card-footer {
        background: transparent;
        border-color: transparent;
    }

    h3.card-header {
        color: #ffffff;
        border-bottom: 1px dotted $footer-border-color;
    }

    //#ebdc14;
    legend,
    a,
    a:visited {
        color: $footer-link-color;
    }

    // #a9a9a9;
}


label a:hover {
    text-decoration: none;
}

.bg-dark {
    background-color: $bg-dark !important;
}

.nav-tabs .nav-item {
    margin-right: 1px;
}