//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: rgb(233, 236, 239);
    --tiki-top-color: rgba(0, 0, 0, 0.55);
    --tiki-top-hover-color: #3a3f44;
    --tiki-top-hover-bg: linear-gradient(#4e5357, #555b5f 40%, #5a6065);
    --tiki-top-border: solid rgba(0, 0, 0, 0.6);
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgb(233, 236, 239);
    --tiki-topbar-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-hover-color: #3a3f44;
    --tiki-topbar-hover-bg: linear-gradient(#4e5357, #555b5f 40%, #5a6065);
    --tiki-topbar-border: solid rgba(0, 0, 0, 0.6);
}

.tiki-top-nav-dark {
    --tiki-top-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-top-color: rgba(255, 255, 255, 0.55);
    --tiki-top-hover-color: #fff;
    --tiki-top-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-top-border: solid rgba(0, 0, 0, 0.6);
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-topbar-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-topbar-border: solid rgba(0, 0, 0, 0.6);
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-width: 1px;
    --tiki-topbar-border-width: 1px;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-top-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.55);
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-admin-aside-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$link-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.55);
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-admin-aside-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$link-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

//.tiki-admin {
//    --tiki-admin-navbar-dark-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
//    --tiki-admin-dropdown-dark-color: #{$navbar-dark-color};
//    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
//    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
//    --tiki-admin-navbar-light-bg: rgb(233, 236, 239);
//    --tiki-admin-dropdown-light-color: #{$navbar-light-color};
//    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
//    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
//    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
//    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
//    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
//    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
//    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
//}
